@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.switch-container {
    position: relative;
}

.switch-button {
    width: 200px;
    height: 70px;
    padding: 10px 20px;
    padding-right: 0px;
    padding-left: 50px;
    font-size: 1.6rem;
    font-family: "Montserrat", serif;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.switch-button.on {
    background-color: green;
    padding-left: 0px;
    padding-right: 50px;
}

.switch-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
}

.switch-button.on::before {
    left: calc(100% - 60px);
}